#fondo{
    background-repeat: repeat;
    background-size: 90%;
}
i{
	cursor: pointer;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fa-user-plus{
	border: 1px solid #007bff;
    border-radius: 50px;
    font-size: 25px;
    background-color: #007bff;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.fa-edit{
    border: 1px solid #17a2b8;
    border-radius: 40px;
    font-size: 15px;
    background-color: #17a2b8;
    color: white;
    padding: 11px 10px;
}
.fa-trash-alt{
	border: 1px solid #dc3545;
    border-radius: 40px;
    font-size: 15px;
    background-color: #dc3545;
    color: white;
    padding: 11px 12px;
}